.action-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.action-line {
  position: absolute;
  background: var(--manga-black);
  opacity: 0.15;
  animation: speed-line 1s linear infinite;
}

.line-1 {
  width: 2px;
  height: 100%;
  left: 10%;
  transform: rotate(45deg);
  animation-delay: 0s;
}

.line-2 {
  width: 2px;
  height: 100%;
  left: 30%;
  transform: rotate(45deg);
  animation-delay: 0.2s;
}

.line-3 {
  width: 2px;
  height: 100%;
  left: 50%;
  transform: rotate(45deg);
  animation-delay: 0.4s;
}

.line-4 {
  width: 2px;
  height: 100%;
  left: 70%;
  transform: rotate(45deg);
  animation-delay: 0.6s;
}

.line-5 {
  width: 2px;
  height: 100%;
  left: 90%;
  transform: rotate(45deg);
  animation-delay: 0.8s;
}

.intensity-high .action-line {
  opacity: 0.3;
  width: 3px;
  animation-duration: 0.5s;
}

.intensity-low .action-line {
  opacity: 0.1;
  width: 1px;
  animation-duration: 2s;
}

@keyframes speed-line {
  0% {
    transform: translateY(-100%) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    transform: translateY(100vh) rotate(45deg);
    opacity: 0;
  }
}

